.post-article {
    width: 500px;
    border: 1px solid black;
    border-radius: 10px;
    
}

.post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 500px;
    background: gray;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

/* css for AddPostForm */
.form {
    display: flex;
    flex-direction: column;
}

.label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* for PostList */
.p {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* for ReactionButton */

.button-reaction {
    border: none;
    outline: none;
    
}

.button-reaction span {
    border: none;
    outline: none;
    padding: none;
}